.header {
  background-image: url('./images/theflatironbuilding.png');
  color: white;
}

body{
  text-align: center;
}

.footer{
  text-align: left;
}

.randombar{
  background-image: url('./images/theflatironbuilding.png');
  color: white;
}

.footer{
  background-image: url('./images/theflatironbuilding.png');
  color: white; 

}
