.header {
  background-image: url('./images/theflatironbuilding.png');
}

.header h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.btn{
  color: white;
  font-size: 18px;
}

body{
  text-align: center;
  font-family: helvetica;
}

.footer{
  text-align: left;
}

.randombar{
  background-image: url('./images/theflatironbuilding.png');
  color: white;
}

.footer{
  background-color: dimgray;
  color: white;

}

.prcess{
  font-size: 32px;
  font-weight: bold;
}

.identify{
  font-size: 23px;

}

.info{
  font-size: 14px;
}

.randombar{
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.copyright{
  font-size: 11px;
}

span {
  font-size: 11px;
}
